<!DOCTYPE html>
<html lang="en">

<head>
    <title>expressions </title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-route.js"></script>
    <script src="controller18.js"></script>
</head>

<body ng-app="myapp18">
<div ng-controller='mycontrol'>
<li ng-repeat="i in myrange">
  {{i}}
</li>

<li ng-repeat="i in newrange track by $index">
  ksdjkalsjdlkas
</li>
</div>
</body>

</html>
